p Use 30secDebate to settle your argument. First set up a debate, send your opponent a link, and duke it out over video. Let your friends decide who wins when you share your debate.
form(method='post', action='/')
 p topic
   input(type='text', name='topic')
 p stance
   input(type='text', name='stance')
 p
  input(type='submit', value='submit')