!!!
html
  head
    title 30secDebate | #{pageName}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      header
        hgroup
          h1 30secDebate
          h2 Settle your differences
      #main!= body
      footer
        p © your mom.